src/main/webapp/xsd/product.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="product" type="product" />
	<xs:complexType name="product">
		<xs:sequence>
			<xs:element name="id" type="xs:int" />
			<xs:element name="name" type="xs:string" />
			<xs:element name="description" type="xs:string" />
			<xs:element name="price" type="xs:int" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>